<div class="container py-5" style="margin-top: -100px;">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">編輯內容<i class="fas fa-edit ms-2"></i></h5>
          <hr>
          <form method="POST" action="/restaurant/{{ restaurant._id }}/edit">

            <div class="row g-2 mb-3">
              <label for="name" class="col-md-4 col-form-label">
                餐廳名稱
              </label>
              <div class="col-md-8">
                <input type="text" name="name" class="form-control" id="name" placeholder="請輸入餐廳的名稱" value="{{ restaurant.name }}" required >
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="name_en" class="col-md-4 col-form-label">
                餐廳名稱(英文)
              </label>
              <div class="col-md-8">
                <input type="text" name="name_en" class="form-control" id="name_en" placeholder="請輸入餐廳的英文名稱(非必要)" value="{{ restaurant.name_en }}">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="category" class="col-md-4 col-form-label">
                類型
              </label>
              <div class="col-md-8">
                <input list="category-options" class="form-control" name="category" id="category"
                  placeholder="請輸入餐廳的料理類型" value="{{ restaurant.category }}">
                <datalist id="category-options">
                  <option>中東</option>
                  <option>日式</option>
                  <option>義式</option>
                  <option>美式</option>
                  <option>酒吧</option>
                  <option>咖啡</option>
                </datalist>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="image" class="col-md-4 col-form-label">
                餐廳圖片(連結)
              </label>
              <div class="col-md-8">
                <input type="url" name="image" class="form-control" id="image" placeholder="請輸入餐廳的圖片連結" value="{{ restaurant.image }}" required >
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="location" class="col-md-4 col-form-label">
                餐廳地址
              </label>
              <div class="col-md-8">
                <input type="text" name="location" class="form-control" id="location" placeholder="請輸入餐廳的地址" value="{{ restaurant.location }}">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="phone" class="col-md-4 col-form-label">
                電話號碼
              </label>
              <div class="col-md-8">
                <input type="tel" name="phone" class="form-control" id="phone" placeholder="09xx-xxx-xxx"
                  maxlength="10" value="{{ restaurant.phone }}">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="google_map" class="col-md-4 col-form-label">
                Google map網址
              </label>
              <div class="col-md-8">
                <input type="url" name="google_map" class="form-control" id="google_map"
                  placeholder="請輸入餐廳的 Google map 網址" value="{{ restaurant.google_map }}">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="rating" class="col-md-4 col-form-label">
                餐廳評分
              </label>
              <div class="col-md-8">
                <input type="number" name="rating" class="form-control" id="rating" placeholder="請輸入餐廳的評分" min="1"
                  max="5" step="0.1" value="{{ restaurant.rating }}">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="description" class="col-md-4 col-form-label">
                餐廳介紹
              </label>
              <div class="col-md-8">
                <textarea name="description" class="form-control" id="description" placeholder="請輸入餐廳簡介"
                  rows="5">{{ restaurant.description }}</textarea>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <a class="btn btn-secondary me-2" href="/">取消</a>
              <button class="btn btn-primary" type="submit">儲存</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>